.form {
    display: flex;
    color: #190217;
    height: 90vh;
    width: 70vw;
    margin: 2em auto;
    box-sizing: border-box;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.605);
  }
  .left {
    width: 50%;
    background: linear-gradient(180deg, #190217 0%, #190217 60%, #190217 100%);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: relative;
  }

  .content {
    position: absolute;
    top: 50%;
    display: flex;
    flex-direction: column;
    gap: 0.7em;
    left: 40%;
    transform: translate(-50%, -50%);
  }
  .content h1 {
    font-size: 40px;
  }
  .content p{
    font-size: 12px;
  }
  .circle{
    position: absolute;
    height: 350px;
    width: 350px;
    bottom: 0;
    left: -8em;
    transform: translateX( -32em );
    transform: translateY(10em);
    border: 1px solid white;
    border-radius: 50%;
  }
  .circle1{
    position: absolute;
    height: 350px;
    width: 350px;
    bottom: 0;
    left: -6em;
    transform: translateX( -20em );
    transform: translateY(12em);
    border: 1px solid white;
    border-radius: 50%;
  }
  .right {
    width: 50%;
    padding: 2em;
    display: grid;
    place-content: center;
    transform: translateY(-5em);

  }
  .right img{
    transform: translateX(9em);
  }
  .right h2 {
    font-weight: 700;
    font-size: 20px;
    margin-left: 6em;
  }
  .right p{
    font-size: 10px;
}
   .right p span{
    color: #190217;
    font-size: 12px;
   }
  .right button {
    height: Hug (57px) px;
    padding: 9px 55px 9px 55px;
    gap: 10px;
    border-radius: 30px;
    opacity: 0px;
    background: #190217;
    border: none;
    margin-top: 1em;
    transform: translateX(3em);
}
.right button a{
      color: white;
    text-decoration: none;
  }
